.owl-nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.carousel-arrow {
  height: 30px;
  width: 30px;
}

.owl-nav .disabled img{
    opacity: .3;
    cursor: not-allowed;
}
.carousel-arrow_left {
  transform-origin: center center;
  transform: rotate(180deg);
}
.carousel-arrow_right {
  right: 0;
}

/* Responsive styles */
@media only screen and (max-width: 768px) {
  .owl-nav {
    display: none;
  }
}
